<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/offcanvas', null, {cache: !config.relative_link}) %>
  <section id="main" class="main">
    <%- body %>
  </section>
  <%- partial('_partial/after-footer') %>
</body>
</html>