@import "mixins";
@import "variables";

@mixin parenthesize() {
  margin-left: 3px;
  opacity: 0.75;

  &:before {
    content: "(";
  }

  &:after {
    content: ")";
  }
}

.widgets {
  font-size: 14px;

  .widget-wrap {
    margin-bottom: 15px;
  }
  .widget-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.widget {
  ul, li {
    @include resetList;
  }
  li {
    margin-right: 10px;
  }
}

.category-list {
  @include resetList;
  @include clearfix;

  ul {
    display: none;
  }

  &-count {
    @include parenthesize;
  }
}

.tag-list {
  @include resetList;
  @include clearfix;

  li {
    @include resetList;
    display: inline-block;
    margin-right: 5px;

    &:after {
      content: ',';
    }
  }

  &-count {
    @include parenthesize;
  }
}